body{
    margin: 0;
    padding: 0;
    font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
    background-color: #ECF2FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(250, 249, 249);
    height: 58px;
  }
  li {
    float: left;
      /* border-right: 1px solid rgb(131, 126, 126); */
  }
  
  li a {
    display: block;
    color: rgb(116, 116, 119);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
  }

  .premium{
    margin-right: 20px;
  }
